.products--grid {
    display: flex;
    padding-top: 10px;
    flex-direction: column;
}

label {
    display: block;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

input {
    position: absolute;
     transform: scale(0);
}

input:checked ~ .checkbox {//El uso del operador virgulilla es más discreto, puesto que su
    // función es bastante similar a la del operador +, sólo que es menos estricto, ya que
    // en lugar de seleccionar únicamente al primer elemento que se encuentra después del indicado,
    // selecciona todos los elementos.
    transform: rotate(45deg);
    width: 10px;
    margin-left: 20px;
    border-color: #24c78e;
    border-top-color: transparent;
    border-left-color: transparent;
    border-radius: 0;
}

.checkbox{
    display: block;
    width: inherit;
    height: inherit;
    border: 3px solid #434343;
    border-radius: 6px;
    transition: all 0.375s;
}

//tablets
@media screen and (min-width: 40em) and (max-width: 63.9em) {
    .products--grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 15px;
    }
}

//web
@media screen and (min-width: 64em){
    .products--grid {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 15px;
    }
}